html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before {
  content: '';
  content: none;
}

blockquote:after {
  content: '';
  content: none;
}

q:before {
  content: '';
  content: none;
}

q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ffff99;
  color: #000000;
  text-decoration: none;
}

mark {
  background-color: #ffff99;
  color: #000000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted inherit;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

@font-face {
  font-family: 'AxelBold';
  src: url('axel-bold-webfont.eot');
  src: local('â˜º'), url('/fonts/axel-bold-webfont.woff') format('woff'), url('/fonts/axel-bold-webfont.ttf') format('truetype'), url('/fonts/axel-bold-webfont.svg#webfontSiaPUq9p') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AxelRegular';
  src: url('axel-regular-webfont.eot');
  src: local('â˜º'), url('/fonts/axel-regular-webfont.woff') format('woff'), url('/fonts/axel-regular-webfont.ttf') format('truetype'), url('/fonts/axel-regular-webfont.svg#webfont9U3nWnpv') format('svg');
  font-weight: normal;
  font-style: normal;
}

.green_button_normal {
  background: #008800;
  background: -webkit-gradient(linear, left top, left bottom, from(#009e00), to(#006e00));
  background: -moz-linear-gradient(#009e00, #006e00);
}

.green_button_hover {
  background: #009900;
  background: -webkit-gradient(linear, left top, left bottom, from(#00ae00), to(#006e00));
  background: -moz-linear-gradient(#00ae00, #006e00);
}

.green_button_active {
  background: #006600;
  background: -webkit-gradient(linear, left top, left bottom, from(#009000), to(#006000));
  background: -moz-linear-gradient(#009000, #006000);
}

.red_button_normal {
  background: #4c0c0a;
  background: -webkit-gradient(linear, left top, left bottom, from(#9c0101), to(#4c0c0a));
  background: -moz-linear-gradient(#9c0101, #4c0c0a);
}

.red_button_hover {
  background: #4c0c0a;
  background: -webkit-gradient(linear, left top, left bottom, from(#a50101), to(#4c0c0a));
  background: -moz-linear-gradient(#a50101, #4c0c0a);
}

.red_button_active {
  background: #4c0c0a;
  background: -webkit-gradient(linear, left top, left bottom, from(#9c0101), to(#4c0c0a));
  background: -moz-linear-gradient(#9c0101, #4c0c0a);
}

.inset_shadow {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 1px #ffffff;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 1px #ffffff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 1px #ffffff;
}

.no_shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.green_button_normal {
  background: #008800;
  background: -webkit-gradient(linear, left top, left bottom, from(#009e00), to(#006e00));
  background: -moz-linear-gradient(#009e00, #006e00);
}

.green_button_hover {
  background: #009900;
  background: -webkit-gradient(linear, left top, left bottom, from(#00ae00), to(#006e00));
  background: -moz-linear-gradient(#00ae00, #006e00);
}

.green_button_active {
  background: #006600;
  background: -webkit-gradient(linear, left top, left bottom, from(#009000), to(#006000));
  background: -moz-linear-gradient(#009000, #006000);
}

.red_button_normal {
  background: #4c0c0a;
  background: -webkit-gradient(linear, left top, left bottom, from(#9c0101), to(#4c0c0a));
  background: -moz-linear-gradient(#9c0101, #4c0c0a);
}

.red_button_hover {
  background: #4c0c0a;
  background: -webkit-gradient(linear, left top, left bottom, from(#a50101), to(#4c0c0a));
  background: -moz-linear-gradient(#a50101, #4c0c0a);
}

.red_button_active {
  background: #4c0c0a;
  background: -webkit-gradient(linear, left top, left bottom, from(#9c0101), to(#4c0c0a));
  background: -moz-linear-gradient(#9c0101, #4c0c0a);
}

label {
  font-weight: normal;
  font-family: "AxelBold", "Lucida Grande", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 38px;
  text-shadow: 0 1px 0 #ffffff;
  display: block;
  float: left;
  width: 130px;
  margin: 0;
  padding: 0 30px 0 0;
}

.extra_wide label {
  width: 240px;
}

.widget {
  float: left;
  width: 700px;
}

.extra_wide .widget {
  width: 600px;
}

span {

  float: left;
  margin: 10px 0 0 0;
  color: #555555;
  font-weight: normal;
  font-family: "Lucida Grande", "Verdana", sans-serif;
  font-size: 13px;
  line-height: 18px;
  line-width:120px;
}

.errorlist {
  margin: 0 0 15px 0;
  list-style-type: none;
  background: #990000;
  background: -webkit-gradient(linear, left top, left bottom, from(#cc0000), to(#990000));
  background: -moz-linear-gradient(#cc0000, #990000);
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-family: "Lucida Grande", "Verdana", sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 5px 10px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 1px #ffffff;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 1px #ffffff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 1px #ffffff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

input[type="text"], input[type="password"], textarea {
  padding: 6px 10px;
  width: 250px;
  color: #444444;
  font-weight: normal;
  font-family: "AxelRegular", "Lucida Grande", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background: #cccccc;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#d4d4d4));
  background: -moz-linear-gradient(#eeeeee, #d4d4d4);
  text-shadow: 0 1px 1px #ffffff;
  border: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 1px #ffffff;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 1px #ffffff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 1px #ffffff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-background-clip: padding-box;
  float: left;
}

input[type="file"] {
  padding: 6px 10px;
  width: 250px;
  color: #444444;
  font-weight: normal;
  font-family: "AxelRegular", "Lucida Grande", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 24px;
  border: none;

}

input[type="checkbox"] {
  margin: 13px 0 0 0;
  float: left;
}

input[type="text"]:focus {
  outline: none;
  background: #ffffff;
}

input[type="password"]:focus {
  outline: none;
  background: #ffffff;
}

textarea:focus {
  outline: none;
  background: #ffffff;
}

textarea {
  float: left;
  width: 680px;
  height: 10em;
  font-size: 16px;
  overflow-x: hidden;
}

select:disabled {
  color: #000000;
}

.inset_shadow {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 1px #ffffff;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 1px #ffffff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 1px #ffffff;
}

.no_shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.green_button_normal {
  background: #008800;
  background: -webkit-gradient(linear, left top, left bottom, from(#009e00), to(#006e00));
  background: -moz-linear-gradient(#009e00, #006e00);
}

.green_button_hover {
  background: #009900;
  background: -webkit-gradient(linear, left top, left bottom, from(#00ae00), to(#006e00));
  background: -moz-linear-gradient(#00ae00, #006e00);
}

.green_button_active {
  background: #006600;
  background: -webkit-gradient(linear, left top, left bottom, from(#009000), to(#006000));
  background: -moz-linear-gradient(#009000, #006000);
}

.red_button_normal {
  background: #4c0c0a;
  background: -webkit-gradient(linear, left top, left bottom, from(#9c0101), to(#4c0c0a));
  background: -moz-linear-gradient(#9c0101, #4c0c0a);
}

.red_button_hover {
  background: #4c0c0a;
  background: -webkit-gradient(linear, left top, left bottom, from(#a50101), to(#4c0c0a));
  background: -moz-linear-gradient(#a50101, #4c0c0a);
}

.red_button_active {
  background: #4c0c0a;
  background: -webkit-gradient(linear, left top, left bottom, from(#9c0101), to(#4c0c0a));
  background: -moz-linear-gradient(#9c0101, #4c0c0a);
}

html {
  background: #263748 repeat 0 0;
  height: 100%;
}

html body {
  background: #263748 repeat 0 0;
  height: 100%;
}

html #page {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*html #rad-grad {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}*/
html #page {
  position: absolute;
  z-index: 2;
}

html #header {
  background: none;
  padding: 100px 0 0 0;
}

html .container {
  width: 500px;
}

html #content {
  border: none;
  padding: 30px 0;
  position: relative;
  z-index: 3;
}

html form {
  margin: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
}

html form .field {
  background: #eeeeee;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e4e4e4));
  background: -moz-linear-gradient(#f3f3f3, #e4e4e4);
  overflow: hidden;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #c9c9c9;
  padding: 20px 25px;
  text-shadow: 0 1px 1px #ffffff;
}

html form .field.header {
  background: #287fbc;
  background: -webkit-gradient(linear, left top, left bottom, from(#287fbc), to(#024581));
  background: -moz-linear-gradient(#287fbc, #024581);
}

html form .field.header {
  padding: 10px 20px;
  border: none;
}

html form .field.header h1 {
  font-weight: normal;
  font-family: "AxelBold", "Lucida Grande", "Verdana", sans-serif;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  text-shadow: 0 1px 1px #000000;
  font-weight: normal;
  color: #ffffff;
}

html form .field.header {
  border-radius: 13px 13px 0 0;
  -webkit-border-radius: 13px 13px 0 0;
  -moz-border-radius: 13px 13px 0 0;
}

html form .field:last-child {
  border-radius: 0 0 13px 13px;
  -webkit-border-radius: 0 0 13px 13px;
  -moz-border-radius: 0 0 13px 13px;
}

html #footer a {
  color: #89a9cc;
  -webkit-transition-duration: 0.15s;
  border-right: 1px solid #2f4256;
  padding: 0 5px;
}

html #footer li:last-child a {
  border: none;
}

html #footer a:hover {
  color: #ffffff;
}

html .green_button {
  font-size: 16px;
  line-height: 36px;
  height: 36px;
  padding: 0 15px;
  margin: 0;
}

.inset_shadow {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 1px #ffffff;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 1px #ffffff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 1px #ffffff;
}

.no_shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.green_button_normal {
  background: #008800;
  background: -webkit-gradient(linear, left top, left bottom, from(#009e00), to(#006e00));
  background: -moz-linear-gradient(#009e00, #006e00);
}

.green_button_hover {
  background: #009900;
  background: -webkit-gradient(linear, left top, left bottom, from(#00ae00), to(#006e00));
  background: -moz-linear-gradient(#00ae00, #006e00);
}

.green_button_active {
  background: #006600;
  background: -webkit-gradient(linear, left top, left bottom, from(#009000), to(#006000));
  background: -moz-linear-gradient(#009000, #006000);
}

.red_button_normal {
  background: #4c0c0a;
  background: -webkit-gradient(linear, left top, left bottom, from(#9c0101), to(#4c0c0a));
  background: -moz-linear-gradient(#9c0101, #4c0c0a);
}

.red_button_hover {
  background: #4c0c0a;
  background: -webkit-gradient(linear, left top, left bottom, from(#a50101), to(#4c0c0a));
  background: -moz-linear-gradient(#a50101, #4c0c0a);
}

.red_button_active {
  background: #4c0c0a;
  background: -webkit-gradient(linear, left top, left bottom, from(#9c0101), to(#4c0c0a));
  background: -moz-linear-gradient(#9c0101, #4c0c0a);
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background: #e1e1e1 repeat-x 0 0 fixed;
  font-weight: normal;
  font-family: "AxelRegular", "Lucida Grande", "Verdana", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444444;
}

a {
  outline: none;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

a:active {
  outline: none;
  text-decoration: none;
}

a:visited {
  outline: none;
  text-decoration: none;
}

.container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

#header {
  background: #263748 repeat 0 0;
  padding: 0px 0;
}

#header h1 {
  color: #ffffff;
  font-weight: normal;
  font-family: "AxelBold", "Lucida Grande", "Verdana", sans-serif;
  font-size: 36px;
  line-height: 1.25;
}

#header h1 a {
  color: #ffffff;
}

#header p {
  color: #6b8aac;
  font-size: 16px;
  line-height: 1.25;
}

.red_button, .green_button, .grey_button {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  float: right;
  display: block;
  text-decoration: none;
  border: 1px solid #004e00;
  -webkit-background-clip: padding-box;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.66);
  color: #ffffff !important;
  padding: 0 15px;
  margin: 5px;
  font-weight: bold;
  font-family: "Lucida Grande", "Verdana", sans-serif;
  font-size: 13px;
  line-height: 32px;
  height: 32px;
  cursor: pointer;
}

.green_button {
  background: #008800;
  background: -webkit-gradient(linear, left top, left bottom, from(#009e00), to(#006e00));
  background: -moz-linear-gradient(#009e00, #006e00);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 1px #ffffff;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 1px #ffffff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 1px #ffffff;
}

.red_button {
  background: #4c0c0a;
  background: -webkit-gradient(linear, left top, left bottom, from(#9c0101), to(#4c0c0a));
  background: -moz-linear-gradient(#9c0101, #4c0c0a);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 1px #ffffff;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 1px #ffffff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 1px #ffffff;
}

.green_button:hover {
  background: #009900;
  background: -webkit-gradient(linear, left top, left bottom, from(#00ae00), to(#006e00));
  background: -moz-linear-gradient(#00ae00, #006e00);
}

.green_button:active {
  background: #006600;
  background: -webkit-gradient(linear, left top, left bottom, from(#009000), to(#006000));
  background: -moz-linear-gradient(#009000, #006000);
}

#content {
  padding: 15px 0 10px 0;
}

#content h1 {
  font-weight: normal;
  font-family: "AxelBold", "Lucida Grande", "Verdana", sans-serif;
  font-size: 26px;
  line-height: 30px;
}

#content .body p {
  margin: 0.25em 0 1em 0;
  color: #777777;
  line-height: 21px;
}

#content p.body {
  margin: 0.25em 0 1em 0;
  color: #777777;
  line-height: 21px;
}
