<div id="content">
  <div class="container">
    <form>
      <div class="header field">
        <h1>Challenge - Form</h1>
      </div>
      <div class="field">
        <%= label_tag :title %>
        <span><%= @item.title %></span>
      </div>
      <div class="field">
        <%= label_tag :path %>
        <span><%= @item.path %></span>
      </div>
      <div class="field">

      </div>
    </form>
  </div>
</div>