<!DOCTYPE html>
<html>
<head>
  <title>Challange</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min', 'rails', 'jquery.html5_upload' %>
  <%= csrf_meta_tag %>
</head>
<body class="">
<div id="page">
  <%= yield %>
</div>
</body>
</html>
